[submodule "ebpf-se"]
	path = ebpf-se
	url = git@github.com:jainl28patel/ebpf-se.git
[submodule "klee"]
	path = klee
	url = git@github.com:jainl28patel/klee.git
[submodule "bpf_lifter"]
	path = bpf_lifter
	url = git@github.com:jainl28patel/bpf_lifter.git
