[submodule "ebpf-se"]
	path = ebpf-se
	url = git@github.com:jainl28patel/ebpf-se-pvt.git
[submodule "klee"]
	path = klee
	url = git@github.com:jainl28patel/klee-pvt.git
[submodule "bpf_lifter"]
	path = bpf_lifter
	url = git@github.com:jainl28patel/bpf_lifter.git
[submodule "xdp-perf"]
	path = xdp-perf
	url = git@github.com:lucasbn/xdp-perf.git