#include <stdint.h>
#include <linux/if_ether.h>
#include <linux/ip.h>
#include <linux/tcp.h>
#include <netinet/in.h>

#ifndef USES_BPF_MAPS
#define USES_BPF_MAPS
#endif

{% if maps %}
{# Check for each operation type separately using flags #}
{% set op_types = ['lookup', 'update', 'delete'] %}
{% for op in op_types %}
    {% set found = namespace(value=false) %}
    {% for map in maps %}
        {% if op in map.ops and not found.value %}
            {% set found.value = true %}
        {% endif %}
    {% endfor %}
    {% if found.value %}
#ifndef USES_BPF_MAP_{{ op.upper() }}_ELEM
#define USES_BPF_MAP_{{ op.upper() }}_ELEM
#endif
    {% endif %}
{% endfor %}

{# Check if any map has tailcall entries #}
{% set has_tailcall = namespace(value=false) %}
{% for map in maps %}
    {% if map.tailcall_entries %}
        {% set has_tailcall.value = true %}
    {% endif %}
{% endfor %}
{% if has_tailcall.value %}
#ifndef USES_BPF_TAIL_CALL
#define USES_BPF_TAIL_CALL
#endif
{% endif %}
{% endif %}

#include <linux/bpf.h>
#include <bpf/bpf_helpers.h>
#include <bpf/bpf_endian.h>

struct __attribute__((__packed__)) pkt {
    struct ethhdr ether;
    struct iphdr ipv4;
    struct tcphdr tcp;
    char payload[1500];
};

{# Typedef and extern declarations for tailcall functions #}
{% if has_tailcall.value %}
typedef int (*xdp_func_ptr)(struct xdp_md *);
{% for map in maps %}
{% if map.tailcall_entries %}
{% for entry in map.tailcall_entries %}
extern int {{ entry.function }}(struct xdp_md *ctx);
{% endfor %}
{% endif %}
{% endfor %}
{% endif %}

{# Map definitions - handle prog_array maps specially #}
{% for map in maps %}
{% if map.is_prog_array and map.tailcall_entries %}
xdp_func_ptr {{ map.name }}[{{ map.max_entries }}];
{% else %}
struct bpf_map_def SEC(".maps") {{ map.name }} = {
    .type = {{ map.type }},
    .key_size = {{ map.key_size }},
    .value_size = {{ map.value_size }},
    .max_entries = {{ map.max_entries }},
};
{% endif %}
{% endfor %}

struct bpf_map_def SEC(".maps") _liftingtools_dummymap = {
    .type = BPF_MAP_TYPE_ARRAY,
    .key_size = sizeof(__u32),
    .value_size = sizeof(__u32),
    .max_entries = 1,
};

SEC("xdp") extern int {{ extern_func }}(struct xdp_md *ctx);

SEC("xdp")
int _liftingtools_temp_xdp_main(struct xdp_md *ctx) {
    {% for map in maps %}
    {% if not map.is_prog_array %}
        {% if 'lookup' in map.ops %}
    __u32 {{ map.name }}_key = 0;
    void* {{ map.name }}_val = bpf_map_lookup_elem(&_liftingtools_dummymap, &{{ map.name }}_key);
        {% endif %}
        {% if 'update' in map.ops %}
    __u32 {{ map.name }}_update_key = 0;
    __u32 {{ map.name }}_update_val = 1;
    bpf_map_update_elem(&_liftingtools_dummymap, &{{ map.name }}_update_key, &{{ map.name }}_update_val, 0);
        {% endif %}
        {% if 'delete' in map.ops %}
    __u32 {{ map.name }}_delete_key = 0;
    bpf_map_delete_elem(&_liftingtools_dummymap, &{{ map.name }}_delete_key);
        {% endif %}
    {% endif %}
    {% if map.tailcall_entries %}
    __u32 {{ map.name }}_tailcall_idx = 0;
    bpf_tail_call(ctx, {{ map.name }}, {{ map.name }}_tailcall_idx);
    {% endif %}
    {% endfor %}
    return XDP_PASS;
}

#ifdef KLEE_VERIFICATION
#include "klee/klee.h"
#include "../../verification_tools/verification_helpers.h"
#include <stdlib.h>
int main() {
    {# Initialize prog_array maps with function pointers #}
    {% for map in maps %}
    {% if map.is_prog_array and map.tailcall_entries %}
    {% for entry in map.tailcall_entries %}
    {{ map.name }}[{{ entry.index }}] = {{ entry.function }};
    {% endfor %}
    {% else %}
    BPF_MAP_INIT(&{{ map.name }}, "{{ map.name }}", "", "");
    {% endif %}
    {% endfor %}
    
    // Context initialization
    struct pkt *pkt = malloc(sizeof(struct pkt));
	klee_make_symbolic(pkt, sizeof(struct pkt), "constraint_access_user_pkt");
	// pkt->ether.h_proto = htons(ETH_P_IP);
	struct xdp_md test;
	test.data = (long)(&(pkt->ether));
	test.data_end = (long)(pkt + 1);
	test.data_meta = 0;
	test.ingress_ifindex = 0;
    
    // Execute program
    __start_verification();
    int val = {{ extern_func }}(&test);
    return 0;
}
#endif
