// Lifted BPF mode - skip actual memory ops in probe_read/write helpers
#define DRACO_LIFTER_MODE 1

#include <stdint.h>
#include <linux/if_ether.h>
#include <linux/ip.h>
#include <linux/tcp.h>
#include <netinet/in.h>
#include <linux/ptrace.h>

#ifndef USES_BPF_MAPS
#define USES_BPF_MAPS
#endif

#ifndef USES_BPF_KTIME_GET_NS
#define USES_BPF_KTIME_GET_NS
#endif

#ifndef USES_BPF_XDP_ADJUST_HEAD
#define USES_BPF_XDP_ADJUST_HEAD
#endif

#ifndef USES_BPF_GET_SMP_PROC_ID
#define USES_BPF_GET_SMP_PROC_ID
#endif

{# Kprobe/tracepoint helper defines #}
#ifndef USES_BPF_GET_CURRENT_COMM
#define USES_BPF_GET_CURRENT_COMM
#endif

#ifndef USES_BPF_PROBE_READ
#define USES_BPF_PROBE_READ
#endif

#ifndef USES_BPF_PROBE_READ_STR
#define USES_BPF_PROBE_READ_STR
#endif

#ifndef USES_BPF_TRACE_PRINTK
#define USES_BPF_TRACE_PRINTK
#endif

#ifndef USES_BPF_PROBE_WRITE_USER
#define USES_BPF_PROBE_WRITE_USER
#endif

#ifndef USES_BPF_OVERRIDE_RETURN
#define USES_BPF_OVERRIDE_RETURN
#endif

{# Define has_tailcall before the maps block to avoid undefined errors #}
{% set has_tailcall = namespace(value=false) %}
{% if maps %}
{# Check for each operation type separately using flags #}
{% set op_types = ['lookup', 'update', 'delete'] %}
{% for op in op_types %}
    {% set found = namespace(value=false) %}
    {% for map in maps %}
        {% if op in map.ops and not found.value %}
            {% set found.value = true %}
        {% endif %}
    {% endfor %}
    {% if found.value %}
#ifndef USES_BPF_MAP_{{ op.upper() }}_ELEM
#define USES_BPF_MAP_{{ op.upper() }}_ELEM
#endif
    {% endif %}
{% endfor %}

{# Check if any map has tailcall entries #}
{% for map in maps %}
    {% if map.tailcall_entries %}
        {% set has_tailcall.value = true %}
    {% endif %}
{% endfor %}
{% if has_tailcall.value %}
#ifndef USES_BPF_TAIL_CALL
#define USES_BPF_TAIL_CALL
#endif
{% endif %}

{# Check if any map is a ringbuf (type 27) #}
{% set has_ringbuf = namespace(value=false) %}
{% for map in maps %}
    {% if map.type == 27 %}
        {% set has_ringbuf.value = true %}
    {% endif %}
{% endfor %}
{% if has_ringbuf.value %}
#ifndef USES_BPF_RINGBUF
#define USES_BPF_RINGBUF
#endif
#ifndef USES_BPF_RINGBUF_RESERVE
#define USES_BPF_RINGBUF_RESERVE
#endif
#ifndef USE_BPF_RINGBUF_OUTPUT
#define USE_BPF_RINGBUF_OUTPUT
#endif
#ifndef USES_BPF_RINGBUF_DISCARD
#define USES_BPF_RINGBUF_DISCARD
#endif
#ifndef USES_BPF_RINGBUF_SUBMIT
#define USES_BPF_RINGBUF_SUBMIT
#endif
{% endif %}
{% endif %}

#include <linux/bpf.h>
#include <bpf/bpf_helpers.h>
#include <bpf/bpf_endian.h>

struct __attribute__((__packed__)) pkt {
    struct ethhdr ether;
    struct iphdr ipv4;
    struct tcphdr tcp;
    char payload[1500];
};

{# Typedef and extern declarations for tailcall functions #}
{% if has_tailcall.value %}
typedef int (*xdp_func_ptr)(struct xdp_md *);
{% for map in maps %}
{% if map.tailcall_entries %}
{% for entry in map.tailcall_entries %}
extern int {{ entry.function }}(struct xdp_md *ctx);
{% endfor %}
{% endif %}
{% endfor %}
{% endif %}

{# Map definitions/declarations
   When function_pass_ran is True: maps are external in lifted IR, so we need to DEFINE them here
   When function_pass_ran is False: maps are already defined in lifted IR (as anonymous structs), so we only DECLARE them #}
{% set function_pass_ran = function_pass_ran | default(false) %}
{% for map in maps %}
{% if map.is_prog_array and map.tailcall_entries %}
xdp_func_ptr {{ map.name }}[{{ map.max_entries }}];
{% elif function_pass_ran %}
{# Function pass ran - define maps as struct bpf_map_def #}
{% if map.type == 27 %}
{# Ringbuf maps only have type and max_entries #}
struct bpf_map_def SEC(".maps") {{ map.name }} = {
    .type = {{ map.type }},
    .max_entries = {{ map.max_entries }},
};
{% else %}
struct bpf_map_def SEC(".maps") {{ map.name }} = {
    .type = {{ map.type }},
    .key_size = {{ map.key_size }},
    .value_size = {{ map.value_size }},
    .max_entries = {{ map.max_entries }},
};
{% endif %}
{% else %}
{# Function pass didn't run - maps are already defined in lifted IR as anonymous structs, so just declare them #}
extern struct bpf_map_def {{ map.name }};
{% endif %}
{% endfor %}

struct bpf_map_def SEC(".maps") _liftingtools_dummymap = {
    .type = BPF_MAP_TYPE_ARRAY,
    .key_size = sizeof(__u32),
    .value_size = sizeof(__u32),
    .max_entries = 1,
};

SEC("xdp") extern int {{ extern_func }}(struct xdp_md *ctx);

SEC("xdp")
int _liftingtools_temp_xdp_main(struct xdp_md *ctx) {
    // Dummy calls to ensure helper functions are compiled and linked
    volatile __u64 _dummy_time = bpf_ktime_get_ns();
    volatile __u32 _dummy_cpuid = bpf_get_smp_processor_id();
    volatile int _dummy_adjust = bpf_xdp_adjust_head(ctx, 0);
    (void)_dummy_time; (void)_dummy_cpuid; (void)_dummy_adjust;
    
    {% for map in maps %}
    {% if map.type == 27 %}
    {# Ringbuf map operations #}
    void *{{ map.name }}_ptr = bpf_ringbuf_reserve(&{{ map.name }}, 64, 0);
    if ({{ map.name }}_ptr) {
        bpf_ringbuf_submit({{ map.name }}_ptr, 0);
    }
    {# Also trigger bpf_ringbuf_output and bpf_ringbuf_discard to ensure they're linked #}
    __u32 {{ map.name }}_dummy_data = 0;
    bpf_ringbuf_output(&{{ map.name }}, &{{ map.name }}_dummy_data, sizeof({{ map.name }}_dummy_data), 0);
    void *{{ map.name }}_discard_ptr = bpf_ringbuf_reserve(&{{ map.name }}, 8, 0);
    if ({{ map.name }}_discard_ptr) {
        bpf_ringbuf_discard({{ map.name }}_discard_ptr, 0);
    }
    {% elif not map.is_prog_array %}
        {% if 'lookup' in map.ops %}
    __u32 {{ map.name }}_key = 0;
    void* {{ map.name }}_val = bpf_map_lookup_elem(&_liftingtools_dummymap, &{{ map.name }}_key);
        {% endif %}
        {% if 'update' in map.ops %}
    __u32 {{ map.name }}_update_key = 0;
    __u32 {{ map.name }}_update_val = 1;
    bpf_map_update_elem(&_liftingtools_dummymap, &{{ map.name }}_update_key, &{{ map.name }}_update_val, 0);
        {% endif %}
        {% if 'delete' in map.ops %}
    __u32 {{ map.name }}_delete_key = 0;
    bpf_map_delete_elem(&_liftingtools_dummymap, &{{ map.name }}_delete_key);
        {% endif %}
    {% endif %}
    {% if map.tailcall_entries %}
    __u32 {{ map.name }}_tailcall_idx = 0;
    bpf_tail_call(ctx, {{ map.name }}, {{ map.name }}_tailcall_idx);
        {% endif %}
    {% endfor %}

    {# Dummy calls to kprobe/tracepoint helpers to force linking #}
    char _dummy_comm[64];
    bpf_get_current_comm(_dummy_comm, sizeof(_dummy_comm));
    __u64 _dummy_val;
    bpf_probe_read(&_dummy_val, sizeof(_dummy_val), &_dummy_val);
    bpf_probe_read_str(_dummy_comm, sizeof(_dummy_comm), _dummy_comm);
    char _dummy_fmt[] = "";
    bpf_trace_printk(_dummy_fmt, sizeof(_dummy_fmt));
    bpf_probe_write_user(&_dummy_val, &_dummy_val, sizeof(_dummy_val));
    struct pt_regs _dummy_regs;
    bpf_override_return(&_dummy_regs, 0);

    return XDP_PASS;
}

#ifdef KLEE_VERIFICATION
#include "klee/klee.h"
#include "{{ verification_helpers_path }}"
#include <stdlib.h>
int main() {
    {# Initialize prog_array maps with function pointers #}
    {% for map in maps %}
    {% if map.is_prog_array and map.tailcall_entries %}
    {% for entry in map.tailcall_entries %}
    {{ map.name }}[{{ entry.index }}] = {{ entry.function }};
    {% endfor %}
    {% elif map.type == 27 %}
    {# Ringbuf maps initialization #}
    {% if function_pass_ran %}
    BPF_MAP_INIT(&{{ map.name }}, "{{ map.name }}", "", "");
    {% else %}
    BPF_MAP_INIT((struct bpf_map_def *)&{{ map.name }}, "{{ map.name }}", "", "");
    {% endif %}
    {% else %}
    {% if function_pass_ran %}
    BPF_MAP_INIT(&{{ map.name }}, "{{ map.name }}", "", "");
    {% else %}
    BPF_MAP_INIT((struct bpf_map_def *)&{{ map.name }}, "{{ map.name }}", "", "");
    {% endif %}
    {% endif %}
    {% endfor %}
    
    {# Map initial values from map_init config #}
    {% if map_init %}
    {% for init in map_init %}
    {% if init.entries %}
    {% for entry in init.entries %}
    {
        __u32 _init_key_{{ loop.index }} = {{ entry.key }};
        __u64 _init_val_{{ loop.index }} = {{ entry.value }};
        bpf_map_update_elem(&{{ init.name }}, &_init_key_{{ loop.index }}, &_init_val_{{ loop.index }}, BPF_ANY);
    }
    {% endfor %}
    {% endif %}
    {% endfor %}
    {% endif %}
    
    // Context initialization based on program type
{% if program_type == 'kprobe' %}
    // Kprobe/Kretprobe program - use pt_regs context
    struct pt_regs *pt_ctx = malloc(sizeof(struct pt_regs));
    memset(pt_ctx, 0, sizeof(struct pt_regs));
    klee_make_symbolic(pt_ctx, sizeof(struct pt_regs), "constraint_access_pt_regs");
    
    // Execute program
    __start_verification();
    int val = {{ extern_func }}(pt_ctx);
    __record_ebpf_return_value(val);
{% elif program_type == 'tracepoint' %}
    // Tracepoint program - use raw_tracepoint_args context
    // NOTE: The lifter generates code expecting struct xdp_md* but accesses it as
    // an array of __u64 values at offsets 0, 8, 16, etc. (for args[0], args[1], etc.)
    // We create a struct with __u64 fields that matches this layout.
    // Create pt_regs structure with symbolic values
    struct pt_regs *tp_regs = malloc(sizeof(struct pt_regs));
    memset(tp_regs, 0, sizeof(struct pt_regs));
    klee_make_symbolic(tp_regs, sizeof(struct pt_regs), "constraint_access_tp_regs");
    
    // Create a struct that matches the memory layout the lifter expects
    // The lifter accesses ctx+0 for args[0], ctx+8 for args[1], etc.
    // We use __u64 to match the pointer size and alignment
    struct {
        __u64 args[6];
    } tp_ctx;
    tp_ctx.args[0] = (unsigned long)tp_regs;  // pt_regs pointer
    klee_make_symbolic(&tp_ctx.args[1], sizeof(__u64), "syscall_id");
    tp_ctx.args[2] = 0;
    tp_ctx.args[3] = 0;
    tp_ctx.args[4] = 0;
    tp_ctx.args[5] = 0;
    
    // Execute program - cast to struct xdp_md* to match lifter's extern type
    // The memory layout (__u64 array) matches what the lifted code expects
    __start_verification();
    int val = {{ extern_func }}((struct xdp_md *)&tp_ctx);
    __record_ebpf_return_value(val);
{% else %}
    // XDP program - use xdp_md context
    struct pkt *pkt = malloc(sizeof(struct pkt));
	klee_make_symbolic(pkt, sizeof(struct pkt), "constraint_access_user_pkt");
	// pkt->ether.h_proto = htons(ETH_P_IP);
	struct xdp_md test;
	test.data = (long)(&(pkt->ether));
	test.data_end = (long)(pkt + 1);
	test.data_meta = 0;
	test.ingress_ifindex = 0;
    
    // Execute program
    __start_verification();
    int val = {{ extern_func }}(&test);
    __record_ebpf_return_value(val);
{% endif %}
    return 0;
}
#endif
